<h1>Show Post</h1>

<%= if @live_action in [:edit] do %>
  <%= live_modal @socket, ZeiterWeb.PostLive.FormComponent,
    id: @post.id,
    title: @page_title,
    action: @live_action,
    post: @post,
    return_to: Routes.post_show_path(@socket, :show, @post) %>
<% end %>

<ul>

  <li>
    <strong>Username:</strong>
    <%= @post.username %>
  </li>

  <li>
    <strong>Body:</strong>
    <%= @post.body %>
  </li>

  <li>
    <strong>Likes count:</strong>
    <%= @post.likes_count %>
  </li>

  <li>
    <strong>Reposts count:</strong>
    <%= @post.reposts_count %>
  </li>

</ul>

<span><%= live_patch "Edit", to: Routes.post_show_path(@socket, :edit, @post), class: "button" %></span>
<span><%= live_redirect "Back", to: Routes.post_index_path(@socket, :index) %></span>
